/* JAN */
body {
    padding: 10px;
}
.login-form {
    padding: 0 50px;
}


/* BASIL */
.day_title {
    background-color: gray;
}

.project_input {
    width: 1.6cm;
}

#input_year {
    width: 1.6cm;
}

#input_week_or_month {
    width: 1.6cm;
}

#message_box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.message_box_red {
    background-color: red;
}

.message_box_green {
    background-color: darkgreen;
}

#message_box_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
}

.nav_element {
    display: inline;
}