<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ProjectM306{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<a href="index.html">Home</a>
{% if user_authenticated %}
    Angemeldet als <a href="./employee.html?empl_nr={{ user.emplNr }}">{{ user.firstName }} {{ user.lastName }}</a>
    <a href="logout.html">Abmelden</a>
{% else %}
    Nicht angemeldet <a href="login.html">Anmelden</a>
{% endif %}
<hr>
{% if messages %}
    <div id="message_box_background">
    </div>
    <div id="message_box" class="message_box_{{ msg_class }}">
        <h3>{{ message_title }}</h3>
        <ul>
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        <br>
        <button onclick="hide_message_box()">OK</button>
    </div>
{% endif %}
{% block content %}
    ProjectM306
{% endblock %}
<script>
    function hide_message_box() {
        let message_box = document.getElementById("message_box");
        let message_box_backgrond = document.getElementById("message_box_background");
        message_box.outerHTML = "";
        message_box_backgrond.outerHTML = "";
    }
</script>
</body>
</html>