<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ProjectM306{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/material_icons.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            {% for el in nav_elements %}
                <li class="nav_element"><a href="{{ el.link }}">{{ el.text }}</a></li>
            {% endfor %}
            {% if user_authenticated %}
                <li class="nav_element employee-item"><a class="employee-a" href="/employee.html?empl_nr={{ user.emplNr }}"><i class="material-icons person-icon">person</i> {{ user.firstName }} {{ user.lastName }}</a></li>
                <li class="nav_element"><a href="/logout.html">Abmelden</a></li>
            {% else %}
                <li class="nav_element">Nicht angemeldet</li>
                <li class="nav_element"><a href="/login.html">Anmelden</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="slide-out">
    {% for el in nav_elements %}
        <li class="nav_element"><a href="{{ el.link }}">{{ el.text }}</a></li>
    {% endfor %}
    {% if user_authenticated %}
        <li class="nav_element employee-item"><a class="employee-a" href="/employee.html?empl_nr={{ user.emplNr }}"><i class="material-icons person-icon">person</i> {{ user.firstName }} {{ user.lastName }}</a></li>
        <li class="nav_element"><a href="/logout.html">Abmelden</a></li>
    {% else %}
        <li class="nav_element">Nicht angemeldet</li>
        <li class="nav_element"><a href="/login.html">Anmelden</a></li>
    {% endif %}
  </ul>
{% if messages %}
    <div id="message_box_background"></div>
    <div class="row" id="message_box">
        <div class="col s12 m12">
            <div class="card {{ msg_class }} darken-1 message-box">
                <div class="card-content white-text">
                        <h3 class="card-title">{{ message_title }}</h3>
                        <ul>
                            {% for msg in messages %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                </div>
                <div class="card-action">
                    <button class="btn {{ msg_class }} darken-5 waves-light" onclick="hide_message_box()"><i class="material-icons">check</i></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<main>
{% block content %}
    ProjectM306
{% endblock %}
</main>
<script>
    function hide_message_box() {
        let message_box = document.getElementById("message_box");
        let message_box_backgrond = document.getElementById("message_box_background");
        message_box.outerHTML = "";
        message_box_backgrond.outerHTML = "";
    }

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

    $(document).ready(function(){
        $('.datepicker').datepicker({
            format:'yyyy-mm-dd',
            autoClose: true
        });
    });

    $(document).ready(function(){
        $('.timepicker').timepicker({
            format: "HH:ii",
            twelveHour: false
        });
    });
</script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>
