{% extends 'base_page.html' %}
{% block title %}{{ firstName }} {{ lastName }}{% endblock %}
{% block content %}
    <h1>{{ firstName }} {{ lastName }}</h1>
    <table>
        <tr>
            <td>Mitarbeiternummer:</td>
            <td>{{ empl_nr }}</td>
        </tr>
        <tr>
            <td>Gleitzeitsaldo:</td>
            <td>{{ float_time_total }}</td>
        </tr>
        <tr>
            <td>Eintritt:</td>
            <td>{{ active_since }}</td>
        </tr>
        <tr>
            <td>Austritt:</td>
            <td>{{ active_until }}</td>
        </tr>
        <tr>
            <td>Absenztotal:</td>
            <td>{{ absence_total }} Tage</td>
        </tr>
    </table>
    <a href="/graph/project_distribution_for_employee?Mitarbeiternummer={{ empl_nr }}">Stundenverteilung anzeigen</a>
    <h2>Absenzen</h2>
    <a href="new_absence.html?empl_nr={{ empl_nr }}">Absenz erstellen</a>
    <br>
    {% if absences %}
        <table>
            <thead>
            <tr>
                <td>Von</td>
                <td>Bis</td>
                <td>Länge</td>
                <td>Grund</td>
            </tr>
            </thead>
            <tbody>
            {% for ab in absences %}
                <tr>
                    <td>{{ ab.start }}</td>
                    <td>{{ ab.end }}</td>
                    <td>{{ ab.length }}d</td>
                    <td>{{ ab.reason }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Keine Absenzen vorhanden.
    {% endif %}
{% endblock %}