{% extends 'base_page.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <td>Projekt</td>
        <td>Von</td>
        <td>Bis</td>
    </tr>
    </thead>
    <tbody>
    {% for day in days %}
        <tr id="{{ day.id }}" class="day_title">
            <td colspan="100">{{ day.displayName }}</td>
        </tr>
        {% for entry in day.entries %}
            <tr>
                <td><input type="text" value="{{ entry.project_nr }}"
                           onchange="entry_changed('{{ entry.id }}')" class="project_input"></td>
                <td><input type="time" value="{{ entry.von }}"
                           onchange="entry_changed('{{ entry.id }}')" class="von_input"></td>
                <td><input type="time" value="{{ entry.bis }}"
                           onchange="entry_changed('{{ entry.id }}')" class="bis_input"></td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<input type="button" value="Speichern" onclick="save_clicked()" id="save_button">
<script>
    let unsaved_entries = [];

    function entry_changed(entry_id) {
        if (!unsaved_entries.includes(entry_id)) {
            unsaved_entries.push(entry_id);
            update_save_enabling();
        }
    }

    function save_clicked() {
        //TODO implement (send changes to server)
        unsaved_entries = [];
        update_save_enabling();
    }

    function update_save_enabling() {
        document.getElementById("save_button").disabled = (unsaved_entries.length === 0);
    }

    update_save_enabling();
</script>
{% endblock %}
