{% extends 'base_page.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <select onchange="selection_changed()" id="week_or_month_selector">
        <option {{ selection.value_month }}>Monat</option>
        <option {{ selection.value_week }}>Woche</option>
    </select>
    <button onclick="minus1_clicked()"><</button>
    <input id="input_week_or_month" value="{{ selection.week_or_month }}" type="number" onchange="change_selection(0)">
    <button onclick="plus1_clicked()">></button>
    <input id="input_year" type="number" value="{{ selection.year }}" onchange="change_selection(0)">
    <table>
        <thead>
        <tr>
            <td>Projekt</td>
            <td>Von</td>
            <td>Bis</td>
        </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr id="{{ day.id }}" class="day_title">
                <td colspan="2">{{ day.displayName }}</td>
                <td>
                    <button onclick="add_entry('{{ day.id }}')">+</button>
                </td>
            </tr>
            {% for entry in day.entries %}
                <tr>
                    <td><input type="number" value="{{ entry.project_nr }}" id="project_input_{{ entry.id }}"
                               onchange="entry_changed('{{ entry.id }}')" class="project_input">
                        <span id="project_name_{{ entry.id }}">{{ entry.project_name }}</span>
                    </td>
                    <td><input type="time" value="{{ entry.von }}" id="von_input_{{ entry.id }}"
                               onchange="entry_changed('{{ entry.id }}')" class="von_input">
                    </td>
                    <td><input type="time" value="{{ entry.bis }}" id="bis_input_{{ entry.id }}"
                               onchange="entry_changed('{{ entry.id }}')" class="bis_input">
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <input type="button" value="Speichern" onclick="save_clicked()" id="save_button">

    <script>

        let project_names = {{project_names}};

        function plus1_clicked() {
            change_selection(1);
        }

        function minus1_clicked() {
            change_selection(-1);
        }

        function change_selection(value) {
            let week_or_month = document.getElementById("input_week_or_month");
            let year = document.getElementById("input_year");
            let max_value = {{ selection.max_value }};
            let new_week_or_month = Number.parseInt(week_or_month.value) + value;
            let new_year = Number.parseInt(year.value);
            if (new_week_or_month <= 0) {
                new_year--;
                new_week_or_month += max_value;
            } else if (new_week_or_month > max_value) {
                new_year++;
                new_week_or_month -= max_value;
            }
            week_or_month.value = new_week_or_month;
            year.value = new_year;
            redirect_selection();
        }

        function selection_changed() {
            let select = document.getElementById("week_or_month_selector");
            let mode = select.selectedIndex === 0 ? "m" : "w";
            let week_or_month = document.getElementById("input_week_or_month");
            let year = document.getElementById("input_year");
            if (mode === "m") {
                week_or_month.value = {{ selection.default_month }};
            } else {
                week_or_month.value = {{ selection.default_week }};
            }
            year.value = {{ selection.default_year }};
            redirect_selection();
        }

        function redirect_selection() {
            let mode = document.getElementById("week_or_month_selector").selectedIndex === 0 ? "m" : "w";
            let week_or_month = document.getElementById("input_week_or_month");
            let year = document.getElementById("input_year");
            let url = "/index.html?mode=" + mode + "&year=" + year.value + "&";
            if (mode === "m") {
                url += "month=";
            } else {
                url += "week=";
            }
            url += week_or_month.value;
            window.location.replace(url);
        }

        function add_entry(day_id) {
            let dayrow = document.getElementById(day_id);
            let entry_id = "new" + Date.now().toString(10);
            let tr = document.createElement("tr");
            let td_project = document.createElement("td");
            let td_von = document.createElement("td");
            let td_bis = document.createElement("td");
            let input_project = document.createElement("input");
            let input_von = document.createElement("input");
            let input_bis = document.createElement("input");
            let span_project = document.createElement("span");

            let event_func = "entry_changed(\"" + entry_id + "\")";

            tr.appendChild(td_project);
            tr.appendChild(td_von);
            tr.appendChild(td_bis);
            td_project.appendChild(input_project);
            td_project.appendChild(span_project);
            td_von.appendChild(input_von);

            td_bis.appendChild(input_bis);
            input_project.type = "number";
            input_project.value = "0";
            input_project.id = "project_input_" + entry_id;
            input_project.setAttribute("onchange", event_func);
            input_project.classList.add("project_input");

            span_project.id = "project_name_" + entry_id;

            input_von.type = "time";
            input_von.value = "00:00";
            input_von.id = "von_input_" + entry_id;
            input_von.setAttribute("onchange", event_func);
            input_von.classList.add("von_input");

            input_bis.type = "time";
            input_bis.value = "00:00";
            input_bis.id = "bis_input_" + entry_id;
            input_bis.setAttribute("onchange", event_func);
            input_bis.classList.add("bis_input");

            dayrow.after(tr);
            new_entries.push(entry_id);
            update_save_enabling();
            entry_changed(entry_id);
        }

        let changed_entries = [];
        let new_entries = [];

        function entry_changed(entry_id) {
            console.log("Entry with id " + entry_id + " changed.");
            if (!changed_entries.includes(entry_id)) {
                changed_entries.push(entry_id);
                update_save_enabling();
            }
            let p_input = document.getElementById("project_input_" + entry_id);
            let p_span = document.getElementById("project_name_" + entry_id);
            let p_number = Number.parseInt(p_input.value);
            p_span.innerText = project_names[p_number];
            if (p_span.innerText === "undefined") {
                p_span.innerText = "Ungültig!";
                p_span.style.color = "#ff0000";
                p_input.style.backgroundColor = "#ff0000";
            } else {
                p_span.style.color = "#000000";
                p_input.style.backgroundColor = "";
            }
        }

        function save_clicked() {
            //TODO implement (send changes to server)
            changed_entries = [];
            new_entries = [];
            update_save_enabling();
        }

        function has_unsaved_changes() {
            return changed_entries.length === 0 && new_entries.length === 0;
        }

        function update_save_enabling() {
            document.getElementById("save_button").disabled = has_unsaved_changes();
        }

        update_save_enabling();
    </script>
{% endblock %}
